## Data Extraction 
**learn the data extraction from following datasources**
1. Database
2. API
3. Web Scraping

**Tools**
1. Requests
2. BeautifulSoup
3. Database interaction using sqlite3,PyMySQL, pymssql

### Etracting data from database
1. SQLite  2. MySQL  3. SQL Server

**Steps to connect to database**
1. Import the package
    import package_name

2. Connect to the database
   --- connection = package_name.connect(con_str)
 
3. Create the cursor
   --- package_name.cursor()
    
4. Execute query
   --- cursor.execute(query)

5. Fetch results
   --- cursor.fethall()

6. close the connection 
   --- connection.close()
   
## SQLite Database

#### import package

In [1]:
#import sqlite3 package
import sqlite3

#### connect to database

In [2]:
connection = sqlite3.connect("classroomDB.db")
connection.close()

#### Create table

In [3]:
# open connection
connection = sqlite3.connect("classroomDB.db")

#open cursor
cursor = connection.cursor()

#query for creating table
create_table = """
                CREATE TABLE classroom (
                student_id INTEGER PRIMARY KEY, 
                name VARCHAR(20),
                gender CHAR(1),
                physics_marks INTEGER,
                chemestry_marks INTEGER,
                mathematics_marks INTEGER
                );"""
#execute query
cursor.execute(create_table)

#commit changes
connection.commit()

#close connections
connection.close()

#### Insert data

In [4]:
#sampel data
classroom_data = [(1, "Raj", "M", 70, 84, 92),
                  (2, "Poonam", "F", 87, 69, 93),
                  (3, "Nik", "M", 65, 83, 90),
                  (4, "Rajul", "F", 83, 76, 89 )]

#Open Connection 
connection = sqlite3.connect("classroomDB.db")

#Open Cursor
cursor = connection.cursor()

#insert each student record
for student in classroom_data:
    # formatted query string
    insert_statement = """INSERT INTO classroom
                        (student_id, name, gender, physics_marks, chemestry_marks, mathematics_marks)
                        VALUES
                        ({0}, "{1}", "{2}", {3}, {4}, {5});""".format(student[0], student[1], student[2], 
                                                                      student[3], student[4], student[5])
                        
    # execute insert query
    cursor.execute(insert_statement)

#commit the changes
connection.commit()

#close the connection
connection.close()

#### Extract data

In [5]:
#Open Connection 
connection = sqlite3.connect("classroomDB.db")

#Open Cursor
cursor = connection.cursor()

#query
query = "SELECT * FROM classroom"

#execute query
cursor.execute(query)

#fetch results
result = cursor.fetchall()

#print results
for row in result:
    print(row)

#close connection
connection.close()

(1, 'Raj', 'M', 70, 84, 92)
(2, 'Poonam', 'F', 87, 69, 93)
(3, 'Nik', 'M', 65, 83, 90)
(4, 'Rajul', 'F', 83, 76, 89)

## MySQL database

#### install package

In [ ]:
# -y options is to accept the installation and -q option is to do installation without spitting out 
# to many intermidiate outputs

In [6]:
!conda install -y -q pymysql

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: /Applications/anaconda3

  added / updated specs:
    - pymysql


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    pymysql-0.9.3              |           py37_0          83 KB
    ------------------------------------------------------------
                                           Total:          83 KB

The following NEW packages will be INSTALLED:

  pymysql            pkgs/main/osx-64::pymysql-0.9.3-py37_0


Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

In [15]:
import pymysql

#### Connect to the database

In [19]:
# connection details

cnx = {'host': 'mysqldb.cxxnqpdohl07.us-east-2.rds.amazonaws.com',
        'username': 'admin',
        'password': 'vinnpv1980',
        'db': 'myclassroomDB'}


#connect to the database
Connection = pymysql.connect(cnx['host'], cnx['username'], cnx['password'], cnx['db'])

#close database
connection.close

#### Create table

In [20]:
# open connection
connection = pymysql.connect(cnx['host'], cnx['username'], cnx['password'], cnx['db'])

#open cursor
cursor = connection.cursor()

#query for creating table
create_table = """
                CREATE TABLE classroom (
                student_id INTEGER PRIMARY KEY, 
                name VARCHAR(20),
                gender CHAR(1),
                physics_marks INTEGER,
                chemestry_marks INTEGER,
                mathematics_marks INTEGER
                );"""
#execute query
cursor.execute(create_table)

#commit changes
connection.commit()

#close connections
connection.close()

#### Insert data

In [21]:
#sampel data
classroom_data = [(1, "Raj", "M", 70, 84, 92),
                  (2, "Poonam", "F", 87, 69, 93),
                  (3, "Nik", "M", 65, 83, 90),
                  (4, "Rajul", "F", 83, 76, 89 )]

#Open Connection 
connection = pymysql.connect(cnx['host'], cnx['username'], cnx['password'], cnx['db'])

#Open Cursor
cursor = connection.cursor()

#insert each student record
for student in classroom_data:
    # formatted query string
    insert_statement = """INSERT INTO classroom
                        (student_id, name, gender, physics_marks, chemestry_marks, mathematics_marks)
                        VALUES
                        ({0}, "{1}", "{2}", {3}, {4}, {5});""".format(student[0], student[1], student[2], 
                                                                      student[3], student[4], student[5])
                        
    # execute insert query
    cursor.execute(insert_statement)

#commit the changes
connection.commit()

#close the connection
connection.close()

#### extract data

In [22]:
#Open Connection 
connection = pymysql.connect(cnx['host'], cnx['username'], cnx['password'], cnx['db'])

#Open Cursor
cursor = connection.cursor()

#query
query = "SELECT * FROM classroom"

#execute query
cursor.execute(query)

#fetch results
result = cursor.fetchall()

#print results
for row in result:
    print(row)

#close connection
connection.close()

(1, 'Raj', 'M', 70, 84, 92)
(2, 'Poonam', 'F', 87, 69, 93)
(3, 'Nik', 'M', 65, 83, 90)
(4, 'Rajul', 'F', 83, 76, 89)

## SQL Server - Microsoft

#### Install Package

In [2]:
!conda install -y -q pymssql

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: /Applications/anaconda3

  added / updated specs:
    - pymssql


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    freetds-1.00.97            |       ha12b0ac_0         1.3 MB
    pymssql-2.1.4              |   py37h1de35cc_0         194 KB
    ------------------------------------------------------------
                                           Total:         1.5 MB

The following NEW packages will be INSTALLED:

  freetds            pkgs/main/osx-64::freetds-1.00.97-ha12b0ac_0
  pymssql            pkgs/main/osx-64::pymssql-2.1.4-py37h1de35cc_0


Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

In [3]:
import pymssql

/Applications/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working
  """Entry point for launching an IPython kernel.

#### Create Connection

In [6]:
# connection details

cnx = {'host': 'sqlserverdbinstance.cxxnqpdohl07.us-east-2.rds.amazonaws.com:1433',
        'username': 'admin',
        'password': 'vinnpv1980',
        'db': 'tempdb'}


#connect to the database
conn = pymssql.connect(cnx['host'], cnx['username'], cnx['password'], cnx['db'])

#close database
conn.close

#### Create table

In [10]:
# open connection
connection = pymssql.connect(cnx['host'], cnx['username'], cnx['password'], cnx['db'])

#open cursor
cursor = connection.cursor()

#query for creating table
create_table = """
                CREATE TABLE classroom (
                student_id INTEGER PRIMARY KEY, 
                name VARCHAR(20),
                gender CHAR(1),
                physics_marks INTEGER,
                chemestry_marks INTEGER,
                mathematics_marks INTEGER
                );"""
#execute query
cursor.execute(create_table)

#commit changes
connection.commit()

#close connections
connection.close()

OperationalError: (2714, b"There is already an object named 'classroom' in the database.DB-Lib error message 20018, severity 16:\nGeneral SQL Server error: Check messages from the SQL Server\n")

#### Insert Rows

In [16]:
#sampel data
classroom_data = [(1, "Raj", "M", 70, 84, 92),
                  (2, "Poonam", "F", 87, 69, 93),
                  (3, "Nik", "M", 65, 83, 90),
                  (4, "Rajul", "F", 83, 76, 89 )]

#Open Connection 
connection = pymssql.connect(cnx['host'], cnx['username'], cnx['password'], cnx['db'])

#Open Cursor
cursor = connection.cursor()

#insert each student record
for student in classroom_data:
    # formatted query string
    insert_statement = """INSERT INTO classroom
                        (student_id, name, gender, physics_marks, chemestry_marks, mathematics_marks)
                        VALUES
                        ({0}, '{1}', '{2}', {3}, {4}, {5});""".format(student[0], student[1], student[2], 
                                                                      student[3], student[4], student[5])
       
    # execute insert query
    cursor.execute(insert_statement)

#commit the changes
connection.commit()

#close the connection
connection.close()

#### Extract data

In [17]:
#Open Connection 
connection = pymssql.connect(cnx['host'], cnx['username'], cnx['password'], cnx['db'])

#Open Cursor
cursor = connection.cursor()

#query
query = "SELECT * FROM classroom"

#execute query
cursor.execute(query)

#fetch results
result = cursor.fetchall()

#print results
for row in result:
    print(row)

#close connection
connection.close()

(1, 'Raj', 'M', 70, 84, 92)
(2, 'Poonam', 'F', 87, 69, 93)
(3, 'Nik', 'M', 65, 83, 90)
(4, 'Rajul', 'F', 83, 76, 89)