**Typical data science project - Time scientis spends**

1. Collecting data sets --- 19%
2. Cleaning and organizing data --- 60%
3. Building training sets --- 3%
4. Mining data patterns --- 9%
5. Refining algorithms --- 4%
6. Other --- 5%

![image.png](attachment:image.png)

Exploratory Data Analysis - After getting the Raw data we analysize the data with some basic statistics and basic data visualization. We find out if there is any outliers in the database or if there are missing values. These needs to be treated before we start the next step. 

Data Munging - In this step we take care of all the issues found in previous steps. Like outliers issues, missing value issues or any other issues which requires some kind of processing. We look for potential issues and solve them. 


Feature Engineering - We apply dimentionality reduction in this step. We find out if features needs to be reduced or additional feature needs to be created. 

Data Visualization - We do data visualization and understand if further feature engineering is required. Its very important steps as it becomes the part of presentation at the end.

We can follow this cycle multiple times. 


**Overview** 
    Import Data
    Exploratory data analysis
        - Basic structure
        - Summary statistics
        - Distributions
        - Grouping
        - Crosstabs
        - pivots
     Python
        - Numpy
        - Pandas
 
 
 **Numpy**
     - Fundamental tool for scientific computing
     - Very efficient array operations
     - Work on multi-dimensional arrays and matrices
     - High level mathematical functionsa
     
 
 **Pandas**
     - Built on top of Numpy
     - Datastructure and operations on tabular data
     - Data visualization using Matplotlib

## Exploratory Data Analysis

**Basic Structure**
    - How many rows or observations?
    - How many columns or features?
    - Column data types
    - Explore head or tail

In [1]:
#imports
import pandas as pd
import numpy as np
import os
import os.path as op

In [2]:
#set the path of the raw data
raw_data_path = os.path.join(os.path.pardir,'data','raw')
train_file_path = str(os.path.join(raw_data_path, 'train.csv'))
test_file_path = str(os.path.join(raw_data_path, 'test.csv'))

In [3]:
print(raw_data_path)

../data/raw

In [4]:
os.getcwd()

'/Users/neerajsharma/Desktop/DataScience/machinelearning/notebooks'

In [5]:
# !pwd

# ‎⁨Macintosh HD⁩/⁨Users⁩/neerajsharma⁩/Desktop⁩/DataScience⁩/⁨machinelearning⁩/⁨data⁩/⁨raw⁩/train.csv

/Users/neerajsharma/Desktop/DataScience/machinelearning

In [52]:
# train_df = pd.read_csv('/Users/neerajsharma/Desktop/DataScience/machinelearning/data/raw/train.csv', index_col='PassengerId')
# test_df = pd.read_csv('test.csv', index_col='PassengerId')

In [53]:
train_df.head()
test_df.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,
892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [5]:
# #read the data with all default parameters
train_df = pd.read_csv(train_file_path,index_col='PassengerId')
test_df = pd.read_csv(test_file_path, index_col='PassengerId')

In [6]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 11 columns):
Survived    891 non-null int64
Pclass      891 non-null int64
Name        891 non-null object
Sex         891 non-null object
Age         714 non-null float64
SibSp       891 non-null int64
Parch       891 non-null int64
Ticket      891 non-null object
Fare        891 non-null float64
Cabin       204 non-null object
Embarked    889 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 83.5+ KB

### Understanding titanic dataset

|#|Feature        |Meaning          | 
|:---:|:---:|:---:|
|1|Passenger ID  | Unique passenger id |
|2| Survived     | If Survived(1-yes, 0-no) |
|3| Name         | Name of the passenger |
|4| Sex          | Gender |
|5| Age          | Age of passenger |
|6| SibSp        | Number of siblings / spouses aboard |
|7| Parch        | Number of parents / childer aobard |
|8| Ticket       | Ticket Number |
|9| Fare         | Passenger fare |
|10| Cabin       | Cabin number |
|11| Embarked    | Point of embarkment (C=Cherbourg; Q=Queenstown; S= Southampton) |

In [7]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 418 entries, 892 to 1309
Data columns (total 10 columns):
Pclass      418 non-null int64
Name        418 non-null object
Sex         418 non-null object
Age         332 non-null float64
SibSp       418 non-null int64
Parch       418 non-null int64
Ticket      418 non-null object
Fare        417 non-null float64
Cabin       91 non-null object
Embarked    418 non-null object
dtypes: float64(2), int64(3), object(5)
memory usage: 35.9+ KB